<section class="content">
  <h1 class="content__title">Grid Layaut - Практика</h1>
  <section class="content__gallery gallery">
    <h2 class="gallary__title">Галерея</h2>
    <div class="gallery__items gallery__item_big">
      <div class="gallery__item">
        <img src="img/01.jpg" alt="" />
      </div>
      <div class="gallery__item">
        <img src="img/02.jpg" alt="" />
      </div>
      <div class="gallery__item">
        <img src="img/03.jpg" alt="" />
      </div>
      <div class="gallery__item">
        <img src="img/04.jpg" alt="" />
      </div>
      <div class="gallery__item">
        <img src="img/05.jpg" alt="" />
      </div>
      <div class="gallery__item">
        <img src="img/06.jpg" alt="" />
      </div>
      <div class="gallery__item">
        <img src="img/07.jpg" alt="" />
      </div>
      <div class="gallery__item">
        <img src="img/08.jpg" alt="" />
      </div>
      <div class="gallery__item">
        <img src="img/09.jpg" alt="" />
      </div>
      <div class="gallery__item">
        <img src="img/10.jpg" alt="" />
      </div>
    </div>
  </section>
  <div class="content__products products">
    <h2 class="products__title">Товары</h2>
    <div class="products__items">
      <div class="product__item">
        <a class="products__image" href="">
          <img src="img/fls.jpg" alt="" />
        </a>
        <a class="products__name" href="#">Футболка "Живи, а работай в свободное время!"</a>
        <a class="products__button" href="#">Купить</a>
      </div>
      <div class="product__item">
        <a class="products__image" href="">
          <img src="img/fls.jpg" alt="" />
        </a>
        <a class="products__name" href="#">Футболка "Живи, а работай в свободное время!"</a>
        <a class="products__button" href="#">Купить</a>
      </div>
      <div class="product__item">
        <a class="products__image" href="">
          <img src="img/fls.jpg" alt="" />
        </a>
        <a class="products__name" href="#">Футболка "Живи, а работай в свободное время!"</a>
        <a class="products__button" href="#">Купить</a>
      </div>
      <div class="product__item">
        <a class="products__image" href="">
          <img src="img/fls.jpg" alt="" />
        </a>
        <a class="products__name" href="#">Футболка "Живи, а работай в свободное время!"</a>
        <a class="products__button" href="#">Купить</a>
      </div>
      <div class="product__item">
        <a class="products__image" href="">
          <img src="img/fls.jpg" alt="" />
        </a>
        <a class="products__name" href="#">Футболка "Живи, а работай в свободное время!"</a>
        <a class="products__button" href="#">Купить</a>
      </div>
    </div>
  </div>
</section>
