<div class="wrapper">
  <header class="header">
    <!-- <div class="container"> -->
    <a class="header__logo" href=""></a>
    <nav class="header__menu">
      <ul class="header__list list-reset">
        <li><a class="header__link" href="">Пункт меню</a></li>
        <li><a class="header__link" href="">Пункт меню</a></li>
        <li><a class="header__link" href="">Пункт меню</a></li>
        <li><a class="header__link" href="">Пункт меню</a></li>
      </ul>
      <div class="header__burger">
        <span></span>
      </div>
    </nav>
    <!-- </div> -->
  </header>
</div>
